<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mollet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD1774832148AC26007AB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD1774972148AC27007AB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD1774A22148AC27007AB379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
