<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<string>BeiJing</string>
		</array>
		<key>state</key>
		<string>BeiJing</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ShangHai</string>
		</array>
		<key>state</key>
		<string>ShangHai</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>TianJin</string>
		</array>
		<key>state</key>
		<string>TianJin</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ChongQing</string>
		</array>
		<key>state</key>
		<string>ChongQing</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>LiShui</string>
			<string>ZhouShan</string>
			<string>NingBo</string>
			<string>QuZhou</string>
			<string>WenZhou</string>
			<string>HangZhou</string>
			<string>TaiZhou</string>
			<string>JiaXing</string>
			<string>ShaoXing</string>
			<string>JinHua</string>
			<string>HuZhou</string>
		</array>
		<key>state</key>
		<string>ZheJiang</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ZhuHai</string>
			<string>HuiZhou</string>
			<string>QingYuan</string>
			<string>ShaoGuan</string>
			<string>JiangMen</string>
			<string>JieYang</string>
			<string>YunFu</string>
			<string>FuShan</string>
			<string>GuangZhou</string>
			<string>ShenZhen</string>
			<string>HeYuan</string>
			<string>ShanTou</string>
			<string>ShanWei</string>
			<string>MaoMing</string>
			<string>ZhaoQing</string>
			<string>DongGuan</string>
			<string>ZhanJiang</string>
			<string>ChaoZhou</string>
			<string>YangJiang</string>
			<string>ZhongShan</string>
			<string>MeiZhou</string>
		</array>
		<key>state</key>
		<string>GuangDong</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>LianYunGang</string>
			<string>YanCheng</string>
			<string>WuXi</string>
			<string>SuQian</string>
			<string>YangZhou</string>
			<string>ZhenJiang</string>
			<string>NanJing</string>
			<string>XuZhou</string>
			<string>TaiZhou</string>
			<string>NanTong</string>
			<string>ChangZhou</string>
			<string>HuaiAn</string>
			<string>SuZhou</string>
		</array>
		<key>state</key>
		<string>JiangSu</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ZiBo</string>
			<string>YanTai</string>
			<string>RiZhao</string>
			<string>HeZe</string>
			<string>WeiFang</string>
			<string>JiNan</string>
			<string>JiNing</string>
			<string>QingDao</string>
			<string>LinYi</string>
			<string>WeiHai</string>
			<string>LaiWu</string>
			<string>TaiAn</string>
			<string>DongYing</string>
			<string>LiaoCheng</string>
			<string>ZaoZhuang</string>
			<string>BinZhou</string>
			<string>DeZhou</string>
		</array>
		<key>state</key>
		<string>ShanDong</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>NanPing</string>
			<string>ShaMen</string>
			<string>FuZhou</string>
			<string>NingDe</string>
			<string>LongYan</string>
			<string>PuTian</string>
			<string>ZhangZhou</string>
			<string>QuanZhou</string>
			<string>SanMing</string>
		</array>
		<key>state</key>
		<string>FuJian</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>HuaiNan</string>
			<string>HuangShan</string>
			<string>BangBu</string>
			<string>HeFei</string>
			<string>SuZhou</string>
			<string>LiuAn</string>
			<string>ChiZhou</string>
			<string>WuHu</string>
			<string>XuanCheng</string>
			<string>ChaoHu</string>
			<string>BoZhou</string>
			<string>FuYang</string>
			<string>TongLing</string>
			<string>HuaiBei</string>
			<string>ChuZhou</string>
			<string>MaAnShan</string>
			<string>AnQing</string>
		</array>
		<key>state</key>
		<string>AnHui</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>YiBin</string>
			<string>BaZhong</string>
			<string>NanChong</string>
			<string>ChengDou</string>
			<string>LiangShanYiZu</string>
			<string>MeiShan</string>
			<string>ABa</string>
			<string>LeShan</string>
			<string>MianYang</string>
			<string>GuangAn</string>
			<string>GuangYuan</string>
			<string>DeYang</string>
			<string>ZiYang</string>
			<string>DaZhou</string>
			<string>LuZhou</string>
			<string>ZiGong</string>
			<string>SuiNing</string>
			<string>GanZiCangZu</string>
			<string>YaAn</string>
			<string>NeiJiang</string>
			<string>PanZhiHua</string>
		</array>
		<key>state</key>
		<string>SiChuan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>XianNing</string>
			<string>YiChang</string>
			<string>HuangGang</string>
			<string>JingZhou</string>
			<string>XiaoGan</string>
			<string>JingMen</string>
			<string>ShiYan</string>
			<string>EZhou</string>
			<string>TianMen</string>
			<string>QianJiang</string>
			<string>EnShi</string>
			<string>WuHan</string>
			<string>XianTao</string>
			<string>ShenNongJiaLin</string>
			<string>SuiZhou</string>
			<string>HuangShi</string>
			<string>XiangYang</string>
		</array>
		<key>state</key>
		<string>HuBei</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ZhangJiaKou</string>
			<string>HanDan</string>
			<string>XingTai</string>
			<string>HengShui</string>
			<string>QinHuangDao</string>
			<string>LangFang</string>
			<string>BaoDing</string>
			<string>ChengDe</string>
			<string>TangShan</string>
			<string>CangZhou</string>
			<string>ShiJiaZhuang</string>
		</array>
		<key>state</key>
		<string>HeBei</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>DeHong</string>
			<string>YuXi</string>
			<string>QuJing</string>
			<string>BaoShan</string>
			<string>NuJiang</string>
			<string>DiQing</string>
			<string>ZhaoTong</string>
			<string>KunMing</string>
			<string>ChuXiong</string>
			<string>WenShan</string>
			<string>XiShuangBanNa</string>
			<string>LiJiang</string>
			<string>HongHe</string>
			<string>DaLi</string>
			<string>LinCang</string>
			<string>PuEr</string>
		</array>
		<key>state</key>
		<string>YunNan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>HeGang</string>
			<string>DaXingAnLingDe</string>
			<string>DaQing</string>
			<string>QiTaiHe</string>
			<string>QiQiHaEr</string>
			<string>MuDanJiang</string>
			<string>HeiHe</string>
			<string>ShuangYaShan</string>
			<string>SuiHua</string>
			<string>YiChun</string>
			<string>JiaMuSi</string>
			<string>HaErBin</string>
			<string>JiXi</string>
		</array>
		<key>state</key>
		<string>HeiLongJiang</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>SongYuan</string>
			<string>SiPing</string>
			<string>BaiCheng</string>
			<string>BaiShan</string>
			<string>JiLin</string>
			<string>TongHua</string>
			<string>ZhangChun</string>
			<string>YanBianChaoXianZu</string>
			<string>LiaoYuan</string>
		</array>
		<key>state</key>
		<string>JiLin</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>TieLing</string>
			<string>HuLuDao</string>
			<string>YingKou</string>
			<string>BenXi</string>
			<string>LiaoYang</string>
			<string>PanJin</string>
			<string>FuXin</string>
			<string>ChaoYang</string>
			<string>JinZhou</string>
			<string>FuShun</string>
			<string>DanDong</string>
			<string>ShenYang</string>
			<string>AnShan</string>
			<string>DaLian</string>
		</array>
		<key>state</key>
		<string>LiaoNing</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>BaoTing</string>
			<string>ChengMai</string>
			<string>NanShaQunDao</string>
			<string>LingShuiLiZu</string>
			<string>ZhongShaQunDao</string>
			<string>TunChang</string>
			<string>ChangJiangLiZu</string>
			<string>LeDongLiZu</string>
			<string>QiongHai</string>
			<string>DanZhou</string>
			<string>WenChang</string>
			<string>WanNing</string>
			<string>BaiShaLiZu</string>
			<string>HaiKou</string>
			<string>SanYa</string>
			<string>WuZhiShan</string>
			<string>QiongZhong</string>
			<string>DongFang</string>
			<string>DingAn</string>
			<string>XiShaQunDao</string>
			<string>LinGao</string>
		</array>
		<key>state</key>
		<string>HaiNan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>ChenZhou</string>
			<string>YueYang</string>
			<string>HuaiHua</string>
			<string>LouDi</string>
			<string>ZhangJiaJie</string>
			<string>YiYang</string>
			<string>XiangXiTuJiaZuMiaoZu</string>
			<string>ChangDe</string>
			<string>XiangTan</string>
			<string>YongZhou</string>
			<string>HengYang</string>
			<string>ZhuZhou</string>
			<string>ZhangSha</string>
			<string>ShaoYang</string>
		</array>
		<key>state</key>
		<string>HuNan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>NanYang</string>
			<string>LuoYang</string>
			<string>SanMenXia</string>
			<string>ShangQiu</string>
			<string>JiaoZuo</string>
			<string>KaiFeng</string>
			<string>ZhuMaDian</string>
			<string>PuYang</string>
			<string>XuChang</string>
			<string>AnYang</string>
			<string>XinYang</string>
			<string>LuoHe</string>
			<string>PingDingShan</string>
			<string>ZhengZhou</string>
			<string>XinXiang</string>
			<string>HeBi</string>
			<string>ZhouKou</string>
		</array>
		<key>state</key>
		<string>HeNan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>BiJieDe</string>
			<string>QianNan</string>
			<string>LiuPanShui</string>
			<string>QianDongNan</string>
			<string>GuiYang</string>
			<string>ZunYi</string>
			<string>TongRenDe</string>
			<string>QianXiNan</string>
			<string>AnShun</string>
		</array>
		<key>state</key>
		<string>GuiZhou</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>NanChang</string>
			<string>PingXiang</string>
			<string>JingDeZhen</string>
			<string>JiAn</string>
			<string>JiuJiang</string>
			<string>XinYu</string>
			<string>YingTan</string>
			<string>FuZhou</string>
			<string>GanZhou</string>
			<string>ShangRao</string>
			<string>YiChun</string>
		</array>
		<key>state</key>
		<string>JiangXi</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>GuangXi</string>
		</array>
		<key>state</key>
		<string>GuangXi</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>XianYang</string>
			<string>TongChuan</string>
			<string>ShangLuo</string>
			<string>YuLin</string>
			<string>WeiNan</string>
			<string>HanZhong</string>
			<string>AnKang</string>
			<string>YanAn</string>
			<string>BaoJi</string>
			<string>XiAn</string>
		</array>
		<key>state</key>
		<string>Shannxi</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>LinFen</string>
			<string>JinZhong</string>
			<string>ShuoZhou</string>
			<string>YunCheng</string>
			<string>JinCheng</string>
			<string>YangQuan</string>
			<string>XinZhou</string>
			<string>DaTong</string>
			<string>ZhangZhi</string>
			<string>TaiYuan</string>
			<string>LuLiang</string>
		</array>
		<key>state</key>
		<string>ShanXi</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>HuangNan</string>
			<string>HaiDongDe</string>
			<string>GuoLuo</string>
			<string>XiNing</string>
			<string>HaiBei</string>
			<string>YuShu</string>
			<string>HaiNan</string>
			<string>HaiXi</string>
		</array>
		<key>state</key>
		<string>QingHai</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>NingXia</string>
		</array>
		<key>state</key>
		<string>NingXia</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>LanZhou</string>
			<string>JinChang</string>
			<string>GanNanCangZu</string>
			<string>PingLiang</string>
			<string>JiaYuGuan</string>
			<string>TianShui</string>
			<string>BaiYin</string>
			<string>WuWei</string>
			<string>ZhangYe</string>
			<string>QingYang</string>
			<string>DingXi</string>
			<string>LinXiaHuiZu</string>
			<string>JiuQuan</string>
			<string>LongNan</string>
		</array>
		<key>state</key>
		<string>GanSu</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>XiZang</string>
		</array>
		<key>state</key>
		<string>XiZang</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>NeiMengGu</string>
		</array>
		<key>state</key>
		<string>NeiMengGu</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>XinJiang</string>
		</array>
		<key>state</key>
		<string>XinJiang</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>TaiWan</string>
		</array>
		<key>state</key>
		<string>TaiWan</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>Hong kong</string>
		</array>
		<key>state</key>
		<string>Hong kong</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>Macao</string>
		</array>
		<key>state</key>
		<string>Macao</string>
	</dict>
</array>
</plist>
